$main-color: #8B2FEF;
$main-font: 'Open Sans', sans-serif;
$main-font-size: 16px;
$regular-weight: 400;
$semi-bold-weight: 600;
$bold-weight: 700;
$nav-color: rgb(49, 48, 43);

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: $main-font;
    font-weight: $regular-weight;
    font-size: $main-font-size;
    background: white;
}

@import 'pages/header';
@import 'pages/footer';

#main-content {
    background-color: white;
    min-height: 400px;
    max-width: 1280px;
    margin: 100px auto 0;
}

@import 'pages/index';
@import 'pages/products';
@import 'pages/customers';
