header {
    background-color: $main-color;
    position: fixed;
    width: 100%;
    height: 66px;
    display: flex;
    color: white;
    top:0;
    justify-content: flex-end;
    z-index: 1000;

    .logo {
        cursor: pointer;
        margin-left: 55px;
        height: 66px;
        width: 155px;
        background: url('images/magento_logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .space {
        flex-grow: 1;
    }

    .search {
        cursor: pointer;
        color: white;
        transition: all 0.35s;
        user-select: none;
        -webkit-user-select:none;

        .icon {
            width: 66px;
            height: 66px;
            display:inline-block;
            padding: 20px 0;
            text-align: center;
        }

        input {
            transition: all 0.35s;
            width: 0;
            opacity: 0;
            display: inline-block;
            font-family: $main-font;
            font-size: $main-font-size;
            visibility: hidden;
        }

        &:hover {
            background: white;
            color: $main-color;
        }

        &:active {
            background: white;
            color: $main-color;

            input {
                opacity: 1;
                width: 200px;
                border: none;
                outline: none;
                padding-right: 20px;
                visibility: visible;
            }
        }
    }

    .free-demo, .account {
        cursor: pointer;
        text-align: center;
        padding: 24px;
        text-transform: uppercase;
        font-size: 13px;

        &:hover {
            color: $main-color;
            background:white;
        }
    }

    .free-demo {
        background-color: rgba(255,255,255,0.25);
    }
}

nav {
    position: fixed;
    background: $nav-color;
    top: 66px;
    color: white;
    width: 100%;
    display: block;
    padding: 0 60px;
    font-size: 12px;
    font-weight: $semi-bold-weight;
    z-index: 1000;

    a {
        text-decoration: none;
        color:white;
        transition: 0.35s all;
        &:hover {
            color: $main-color;
        }

        &.active {
            color: $main-color;

            &:hover {
                color: lighten($main-color, 10%);
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .top-level-page {
        display: inline-block;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;

        .top-level {
            padding: 12px 15px;
        }

        .subpages {
            transition: all 0.15s;
            opacity: 0;
            visibility: hidden;
            user-select: none;
            text-transform: none;
            position: absolute;
            top:41px;
            left:0;
            background: $nav-color;
            width: 250px;
            font-weight: $regular-weight;
            color: rgb(202, 195, 180);

            .subpage {
                padding: 12px 15px;
            }
        }

        &:hover {
            color: $main-color;

            .subpages {
                opacity: 1;
                visibility: visible;

                .subpage:hover {
                    color: white;
                }
            }
        }
    }
}
