<div id="index">
    <div class="banner">

    </div>
    <div class="panel">
        <div class="heading">More than 240,000 merchants worldwide put their trust in our eCommerce software. Magento’s eCommerce platform gives you the tools you need to attract more prospects, sell more products, and make more money. It’s what we do.</div>
        <ul class="features">
            <li class="feature">
                <div class="image"></div>
                <div class="text">Take control of your online channel</div>
            </li>
            <li class="feature">
                <div class="image"></div>
                <div class="text">Take advantage of enterprise-class features</div>
            </li>
            <li class="feature">
                <div class="image"></div>
                <div class="text">Scale and grow your business—now and into the future</div>
            </li>
            <li class="feature">
                <div class="image"></div>
                <div class="text">Add functionality over time as your needs grow</div>
            </li>
            <li class="feature">
                <div class="image"></div>
                <div class="text">Flexibility to meet your unique needs</div>
            </li>
            <li class="feature">
                <div class="image"></div>
                <div class="text">The industry's most competitive Total Cost of Ownership</div>
            </li>
        </ul>
    </div>
    <div class="companies">
        <div class="company"></div>
        <div class="company"></div>
        <div class="company"></div>
        <div class="company"></div>
        <div class="company"></div>
        <div class="company"></div>
    </div>
</div>
